@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0 0 50px 0;
    background-color: rgb(252, 252, 252);
}

.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(218, 218, 218);
    margin-bottom: 25px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    z-index: 1;
}

#app-title {
    margin-bottom: 10px;
    font-size: 20px;
}

.welcomeContainer {
    /* border: 1px solid black; */
    margin: 70px 8px 0 8px;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); */
    background-color: rgb(255, 255, 255);
    display: flex;
    overflow-x: auto;
    z-index: 1;
    border-top: 1px solid rgb(218, 218, 218);
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;  
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav-link.active {
    color: red;
}