@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
background: #ffbaba;
background: linear-gradient(0deg, rgba(255, 186, 186, 1) 0%, rgba(255, 0, 0, 1) 100%);background-size: cover;
background-attachment: fixed;
height: 100%;

}

.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(218, 218, 218);
    margin-bottom: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    z-index: 1;
}

#app-title {
    margin-bottom: 10px;
    font-size: 20px;
}

.container {
    margin: 84px 8px;
    /* border: 1px solid black; */
    /* width: 100%; */
    height: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputsForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-control {
    border: 1px solid rgb(255, 255, 255);
    outline-color: rgb(255, 255, 255);
    border-radius: 7px;
    width: 370px;
    height: 35px;
    /* padding: 0; */
}

.btn {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    height: 35px;
    width: 370px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
}
.signupText {
    display: flex;
    align-items: center;
    gap: 4px;
}
a {
    color: rgb(255, 255, 255);
}